.error {
    color: red;
    font-size: small;
}

.btn {
    cursor: pointer;
}

.title {
  font-size: large;
  font-weight: bold;
}

.input_bar {
    border: 1px solid black;
    margin-left: 3px;
    border-radius: 3px;
}

.edit_btn {
    cursor: pointer;
}
