.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-items: center; */
    /* align-items: center; */
    /* align-content: center; */
    height: 350px;
    width: 100%;
    padding: 8%;
}

.title_tag {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.errors {
    color: red;
    font-size: small;
}

.auth_button {
    border: 1px solid white;
    padding: 2% 8%;
    color: white;
    margin: 0 2%;
    height: 28px;
    width: 100px;
    cursor: pointer;
}

.labels {
    font-size: small;
    margin-bottom: 4px;
}

.input_bar {
    border: 1px solid black;
    /* margin-left: 3px; */
    padding: 2%;
    border-radius: 1px;
    width: 100%;
    margin: 0 auto;
}

.login_btns {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.btn{
    font-size: 15px;
    font-size: 16px;
    color: #87CEEB;
    cursor: pointer;
    margin: 2% 0;
    width: 100px;
}

.btn:hover {
    font-weight: bolder;
}
