.song_outer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 4%;
  width: 75%;
  padding: 1.45% 3%;
  background-color: #87ceeb;
  color: white;
  align-items: center;
}

.song_info_card {
  display: flex;
  align-items: center;
  width: 100%
}

.song_title {
  font-size: x-large;
  font-weight: bold;
}

.album_picture {
  height: 150px;
  width: 150px;
  background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  margin: 1%;
}

.album_title {
  margin-top: 3%;
}

.date_tag {
  font-size: small;
  margin-top: 10%;
}

.edit_btn_container {
  margin-top: 1%;
}

.edit_btn {
  background-color: white;
  margin: 0 1%;
  color: #87ceeb;
  padding: 1px 15px;
}

.add_comment {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  width: 75%;
}

.add_input {
  min-width: 200px;
  width: 400px;
  border: 1px solid black;
}

.comments_header {
  margin: auto;
  margin-top: 2%;
  width: 70%;
}

.comments_container {
  padding: 2%;
  margin-top: .3%;
  border: 1px solid black;
}

.play_container {
  margin-right: 3%;
}

.play_button {
	font-size: 50px;
	color: white;
  cursor: pointer;
}

.edit_button {
  margin-top: 5%;
}

.album_picture:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
