.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 400px;
    width: 100%;
    padding: 5%;
}

.title_tag {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.errors {
    color: red;
    font-size: small;
}

.auth_button {
    border: 1px solid white;
    padding: 2% 8%;
    color: white;
    margin: 0 3%;
    height: 28px;
    width: 100px;
    cursor: pointer;
}

.input_bar {
    border: 1px solid black;
    margin-left: 3px;
    border-radius: 3px;
}

.btn{
    font-size: 15px;
    color: #87CEEB;
    cursor: pointer;
    margin: 3% 0
}

.btn:hover {
    font-weight: bolder;
}
