.form_container {
    margin-top: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form_inner {
    background-color: #87CEEB;
    margin-top: 2rem;
    text-align: center;
    padding: 3%;
    height: 43%;
    width: 30%;
}

.album_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.album_form > input {
    padding: 2%;
    /* width: 75%; */
}

.button_container {
    display: flex;
    justify-content: space-around;
}
