.album_info_card {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 1.35%;
    background-color: #87ceeb;
    color: white;
}

.left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album_tag {
    font-size: x-large;
    font-weight: bold;
}

.date_tag {
    font-size: small;
    margin-top: 2%;
}

.songs_container {
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 5px;
}

.songs_container > li {
    margin: 1% 0;
}

.album_picture {
    height: 200px;
    width: 200px;
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.song_li {
    padding: .8% .5%;
}

.song_li:hover {
    background-color: #ace7ffb7;
}
