.user_card_container {
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 3%;
    background-color: #87ceeb;
    color: white;
}

.username_tag {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
}

.membership_date {
    font-size: small;
}

.user_media_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 3%;
}

.albums_container {
    width: 100%;
    margin-bottom: 3%;
}

.albums_display_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.song_album {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.album_picture {
    height: 100px;
    width: 100px;
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
    margin: 1.5rem 1.5rem;
}

.song {
    margin: .75% 0;
}
