.body_container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.user_card_container {
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 3%;
    background-color: #87ceeb;
    color: white;
}

.username_tag {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
}

.membership_date {
    font-size: small;
}

.user_media_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 2%;
    width: 75%;
    padding: 3%;
}

.albums_container {
    width: 100%;
    max-width: 100%;
    margin-bottom: 3%;
    box-sizing: border-box;
    min-height: 220px;
    max-height: 220px;
}

.albums_display_container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    /* box-sizing: border-box; */
}

.single_album_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songs_container {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    margin-bottom: 2%;
}

.song_album {
    font-size: larger;
    font-weight: bold;
    /* margin-bottom: 1.5rem; */
}

.album_titles {
    font-size: smaller;
    text-align: center;
    margin: 2px 0;
    color: rgb(56, 56, 56);
}

.album_picture {
    height: 100px;
    width: 100px;
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
    margin: 1.5rem .75rem 0 .75rem;
}

.album_picture:hover {
    box-shadow: 5px 5px 5px gray;
}

.song {
    margin: .75% 0;
}

.fieldsets {
    border-radius: 15px;
    border-color: #87ceeb;
    min-width: 75%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 220px;
    max-height: 220px;
}
 .fieldsets_songs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-radius: 15px;
    border-color: #87ceeb;
    min-width: 75%;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 180px;
    max-height: 180px;
 }
