.outer_container{
    width: 100%;
    height: 2.5rem;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEEB;
    color: white;
}

.app_name{
    font-size: 1.2rem;
    font-weight: bold;
}

.left_container {
    display: flex;
    justify-content: space-around;
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.right_container {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown_nav {
    position: absolute;
    width: 45px;
    background-color: white;
    width: 100px;
    max-width: 100px;
    z-index: 1;
}

.dropbtn {
    color: #87CEEB;
    height: 28px;
    width: 100px;
    background-color: white;
    font-size: small;
    cursor: pointer;
}

.inner_drop {
    /* margin: 10px 0; */
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #87CEEB;
    text-align: center;
}

.drop_text {
    font-size: .8rem;
    color: black;
    cursor: pointer;
}

.drop_text:hover {
    color: #87cfeb;
    font-weight: bold;
}

.contact_us {
    margin-left: 5px;
    font-size: .8rem;
}
